* {
    box-sizing: border-box !important;
    outline-offset: none !important;
    font-family: 'Roboto', 'sans-serif';
}

input:focus,
input:active,
select:focus,
select:active,
button:focus,
button:active {
    outline: none !important;
    box-shadow: none !important;
}

html,
body {
    margin: 0;
}

body {
    background-color: #f5f5f5 !important;
    height: 100%;
}

.mb-8 {
    margin-bottom: 80px;
}

.mb-6 {
    margin-bottom: 60px;
}


/* ================Utilities================ */

.px-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.mx-1 {
    margin-right: 10px !important;
    margin-left: 10px !important;
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.__text-side.reverse {
    display: flex;
    align-items: flex-end;
    text-align: right;
}

.hideMe {
    display: none;
}


/* ================::Header::================ */

header .navbar {
    background: #FFF;
    border-top: 2px solid #969696;
    box-shadow: rgba(0, 0, 0, 0.1) 0 5px 10px;
    /* box-shadow: rgba(0, 0, 0, 0.3) 0 0 25px; */
}

.__header-container {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    align-items: center !important;
    justify-content: center !important;
    height: auto;
    padding: 30px 0 0 0;
}

.__header-container .navbar-brand {
    display: flex;
    align-items: center;
    height: 50px;
}

@media (max-width: 500px) {
    .navbar-collapse .navbar-nav {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }
    .__header-container .navbar-nav .__navbar-link {
        flex-direction: row !important;
        align-items: center;
        justify-content: start !important;
        color: #000;
        text-decoration: none !important;
        width: 180px !important;
        border-radius: 10px;
        margin-right: 5px;
        padding: 5px;
        transition: .4s ease-in-out;
    }
}

@media (max-width: 575.98px) {
    .__header-container {
        justify-content: space-between !important;
        height: auto;
    }
    .__header-container .form-inline {
        width: 100% !important;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .__header-container {
        justify-content: center !important;
        height: auto;
        max-width: 640px !important;
    }
    .__header-container .form-inline {
        width: auto !important;
        max-width: 210px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .__header-container {
        justify-content: space-between !important;
    }
    .__header-container .form-inline {
        width: 85% !important;
        margin-right: 0 !important;
    }
}

@media (max-width: 991.98px) {
    .navbar-collapse .navbar-nav {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }
}

.__header-container .form-inline {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap;
    justify-content: center !important;
    border: 1px solid transparent;
    border-radius: 10px;
    width: 65%;
    height: 50px;
    margin-right: 15px;
    transition: .4s;
}

.__header-container .form-inline:hover {
    border: 1px solid rgb(133, 133, 240);
}

.__header-container .form-inline input {
    background: #F6F6F6;
    border: none;
    width: 95%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.__header-container .form-inline span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    background: #F6F6F6;
    width: 40px;
    height: 48px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.__header-container .__header-login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    text-transform: uppercase;
    background: #FFF;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 8px;
    margin-right: 10px;
    padding: 0;
    transition: .2s ease-in;
}

.__header-container .__header-login-btn:hover {
    border: 1px solid black;
    padding: 0 10px;
}

.__header-container .__header-login-btn span {
    font-size: 2rem;
    margin-right: 5px;
}

.__header-container .navbar-collapse {
    width: 100%;
}

.__header-container .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.__header-container .navbar-nav .__navbar-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    text-decoration: none !important;
    font-size: 1rem;
    font-weight: 500;
    width: 120px;
    border: 1px solid transparent;
    border-radius: 8px;
    margin-right: 15px;
    padding: 5px;
    transition: .2s ease-out;
}

.__header-container .navbar-nav .__navbar-link:hover {
    /* background-color: rgb(242, 242, 255);*/
    border: 1px solid rgb(22, 22, 194);
    color: rgb(22, 22, 194);
}

.__header-container .navbar-nav .__navbar-link span {
    font-size: 2rem;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .__header-container .navbar-nav .__navbar-link {
        font-size: .8rem;
        width: 120px;
        margin-right: 10px;
    }
}


/* ================::Booking box::================ */

.__booking-box {
    height: 110px;
}

.__booking-box .__booking-box-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 5px 10px;
    width: 100%;
    height: 100%;
    padding: 0 !important;
}

@media (max-width: 575.98px) {
    .__booking-box {
        margin: 80px 0;
        height: auto;
    }
    .__booking-box .__booking-box-form {
        flex-direction: column;
        padding: 15px 0 0!important;
    }
    .__booking-box .__booking-box-form .form-group,
    .__booking-box .__booking-box-form .__booking-search-btn {
        align-items: flex-start;
        justify-content: center;
        height: 100px !important;
    }
    .__booking-box .__booking-box-form .form-group {
        width: 100% !important;
        border: none !important;
    }
    .__booking-box-form .form-group input,
    .__booking-box-form .form-group select {
        height: 45px !important;
    }
    .__booking-box .__booking-box-form .__booking-search-btn {
        width: 100% !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
    }
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .__booking-box {
        margin: 80px 0;
        height: auto;
    }
    .__booking-box .__booking-box-form {
        flex-direction: row;
        flex-wrap: wrap !important;
        padding: 15px 0 0!important;
    }
    .__booking-box .__booking-box-form .form-group,
    .__booking-box .__booking-box-form .__booking-search-btn {
        align-items: flex-start;
        justify-content: center;
        height: 100px !important;
    }
    .__booking-box .__booking-box-form .form-group {
        width: 50% !important;
        border: none !important;
    }
    .__booking-box-form .form-group input,
    .__booking-box-form .form-group select {
        height: 45px !important;
    }
    .__booking-box .__booking-box-form .__booking-search-btn {
        width: 100% !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
    }
}

.__booking-box .__booking-box-form .form-group {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 20%;
    border-right: 1px solid #707070;
    padding: 0 25px;
}

.__booking-box-form .form-group:nth-child(4) {
    border-right: none;
}

.__booking-box .__booking-box-form .form-group label {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}

.__booking-box-form .form-group input,
.__booking-box-form .form-group select {
    background: #fafafa;
    border: 1px solid transparent;
    padding: 6px 6px;
    transition: .2s;
}

.__booking-box-form .form-group input:hover,
.__booking-box-form .form-group select:hover {
    border: 1px solid #707070;
}

.__booking-box-form .form-group input:focus,
.__booking-box-form .form-group select:focus {
    border: 1px solid black;
    padding: 6px 12px;
}

.__booking-box .__booking-box-form .__booking-search-btn {
    background: rgb(100, 100, 253);
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 280px;
    height: 100%;
    padding: 0;
    transition: .4s ease-in-out;
}

.__booking-box .__booking-box-form .__booking-search-btn:hover {
    background: rgb(216, 216, 248);
}

.__booking-search-btn span {
    color: #FFF;
    font-size: 4rem;
    transition: .4s ease-in-out;
}

.__booking-box .__booking-box-form .__booking-search-btn:hover span {
    color: rgb(100, 100, 253);
}


/* ================::Destination Container::================ */

.__destination-gallery {
    display: grid;
    grid-template-areas: 'dest-1 dest-2 dest-3 dest-3' 'dest-1 dest-2 dest-4 dest-4';
    grid-gap: 5px;
    height: 350px;
    border-radius: 12px;
    overflow: hidden;
}

.__destination-gallery .__destination-card {
    height: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.__destination-gallery .__destination-card::after {
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .4s;
}

.__destination-gallery .__destination-card:hover::after {
    content: "Ver mais";
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
}

.__destination-gallery .__destination-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    transition: .4s;
}

.__destination-gallery .__destination-card:hover>img {
    transform: scale(1.08);
}

.__destination-gallery .__dest-1 {
    grid-area: dest-1;
}

.__destination-gallery .__dest-2 {
    grid-area: dest-2;
}

.__destination-gallery .__dest-3 {
    grid-area: dest-3;
}

.__destination-gallery .__dest-4 {
    grid-area: dest-4;
}

@media (max-width: 767.98px) {
    .__destination-gallery {
        display: grid;
        grid-template-areas: 'dest-1 dest-1 dest-3 dest-3' 'dest-2 dest-2 dest-4 dest-4';
        grid-gap: 5px;
        height: 350px;
        border-radius: 12px;
        overflow: hidden;
    }
}


/* ================::Cards Container::================ */

.__cards-container {
    height: 400px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 35px 0;
    transition: .4s;
}

.__cards-container:hover {
    border: 1px solid rgb(119, 138, 247) !important;
}

.__cards-container-details {
    height: auto;
}

@media (max-width: 991.98px) {
    .__cards-container {
        margin: 40px;
        height: auto;
    }
    .__cards-side {
        height: 330px !important;
    }
}

.__cards-container .row {
    height: 100%;
}


/* ================::Cards Container::Text Side================ */

.__text-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: top;
    font-family: 'Roboto', 'sans-serif';
    height: 100%;
}

.__text-side h3 {
    color: black;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
}


/* .__text-side small {
    color: gray;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 30px;
} */

.__text-side p {
    color: #676767;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.2rem;
    width: 100%;
}

@media (max-width: 1199.98px) {
    /* .row-reverse {
        display: flex;
        flex-direction: column !important;
    } */
    .reverse {
        display: flex;
        align-items: flex-start !important;
        text-align: left !important;
    }
}


/* ================::Cards Container::Cards side================ */

.__cards-side {
    font-family: 'Roboto', 'sans-serif';
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    height: 100%;
    position: relative;
}

.__cards-side .owl-stage-outer {
    margin: 0 -15px;
}

@media (max-width: 575.98px) {
    .__cards-side {
        padding: 0 !important;
    }
    .__cards-side .owl-stage-outer {
        margin: 0;
    }
}

.__cards-side-details {
    height: 330px;
}

.__cards-side .owl-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    width: 105%;
    position: absolute;
    top: 50%;
    left: -2.5%;
    margin-top: -25px;
}

.__cards-side .owl-nav .owl-next,
.__cards-side .owl-nav .owl-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: #252525; */
    color: #fff;
    /* background-color: #ffffff; */
    background-color: #3d84e0;
    font-size: 1.2rem;
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 5px 15px;
    transition: .3s;
}

.__cards-side .owl-nav .owl-next:hover,
.__cards-side .owl-nav .owl-prev:hover {
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #a1a1a1;
}

.__cards-side .owl-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100% !important;
}

.__cards-side .__card {
    width: 100%;
    min-width: 180px;
    height: 92% !important;
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 10px;
    position: relative;
}

.__cards-side .__card .__card-img-top {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    width: 100%;
}

.__cards-side .__card .__card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    width: 100%;
    height: 55%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 10px;
    margin-top: auto;
    position: absolute;
    bottom: 0;
}

.__cards-side .__card .__card-body h5 {
    font-size: 1rem !important;
    font-weight: 500;
}

.__cards-side .__card .__card-body .__card-body-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.__cards-side .__card .__card-body .__card-body-bottom h3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: auto 0;
}

@media (max-width: 991.98px) {
    .__cards-side .__card .__card-body .__card-body-bottom h3 {
        font-size: .9rem;
    }
}

.__cards-side .__card .__card-body .__card-body-bottom .__card-btn {
    color: #ffffff;
    font-size: .9rem !important;
    text-align: center;
    text-decoration: none;
    background-color: #0086fe;
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 5px;
    width: 100px;
    padding: 5px 0;
}

.__cards-side .__card .__card-body .__card-body-bottom .__card-btn:hover {
    background-color: #3378b4;
}

.owl-stage-outer,
.owl-stage {
    height: 100%;
}


/* ================::promo Container::================ */

.__promo-gallery {
    display: grid;
    grid-template-areas: 'promo-1 promo-2 promo-2';
    grid-gap: 5px;
    height: 350px;
    border-radius: 12px;
    overflow: hidden;
}

.__promo-gallery .__promo-card {
    height: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.__promo-gallery .__promo-card::after {
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .4s;
}

.__promo-gallery .__promo-card:hover::after {
    content: "Ver mais";
    background: rgba(0, 17, 114, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
}

.__promo-gallery .__promo-card img {
    width: 100%;
    height: 100%;
    object-position: right;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    transition: .4s;
}

.__promo-gallery .__promo-card:hover>img {
    transform: scale(1.08);
}

.__promo-gallery .__promo-1 {
    grid-area: promo-1;
}

.__promo-gallery .__promo-2 {
    grid-area: promo-2;
}

@media (max-width: 767.98px) {
    .__promo-gallery {
        display: grid;
        grid-template-areas: 'promo-1 promo-1' 'promo-2 promo-2';
        grid-gap: 5px;
        height: 350px;
        border-radius: 12px;
        overflow: hidden;
    }
}


/* ================::All Attractions Container::================ */

.__all-attractions h2 {
    color: #000;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 20px;
}

.__all-attractions .__attractions-card {
    border-radius: 12px;
    height: 255px;
    margin: 25px 0;
    overflow: hidden;
}

.__all-attractions .__attractions-card a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    position: relative;
}

.__all-attractions .__attractions-card a::after {
    content: "";
    background-color: rgba(48, 48, 48, 0.43);
    width: 100%;
    height: 100%;
    border-radius: 12px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;
    transition: .4s;
}

.__all-attractions .__attractions-card a:hover::after {
    background-color: rgba(48, 48, 48, 0.1);
}

.__all-attractions .__attractions-card a:hover>img {
    transform: scale(1.1);
}

.__all-attractions .__attractions-card img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
    position: absolute;
    z-index: 2;
    transition: .4s;
}

.__all-attractions .__attractions-card span {
    font-size: 3rem;
}

.__all-attractions .__attractions-card span,
.__all-attractions .__attractions-card h3 {
    color: #FFF;
    z-index: 4;
}


/* ================::Benefits Container::================ */

.__benefits {
    background: #fff;
    border-top: 1px solid rgba(128, 128, 128, 0.2);
    box-shadow: rgba(0, 0, 0, 0.1) 0 -5px 15px;
    padding: 60px 0;
}

.__benefits .__benefits-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
}

.__benefits .__benefits-card span,
.__benefits .__benefits-card h3 {
    color: #000;
    z-index: 4;
}

.__benefits .__benefits-card span {
    font-size: 5rem;
}

.__benefits .__benefits-card h3 {
    color: #000;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}

.__benefits .__benefits-card p {
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}


/* ================::Footer::================ */

.__footer {
    background: rgb(19, 105, 224);
}

.__footer hr {
    background-color: #ffffffa9;
    width: 75%;
    height: 1px;
}

.__footer .__footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px 0;
}

.__footer-content h3 {
    color: #FFF;
    font-size: 2rem;
    margin: 0;
}

.__footer-content .__footer-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
}

.__footer-content .__footer-icons img {
    width: 80%;
}

.__footer-content .input-group {
    width: 70%;
    min-width: 300px;
    max-width: 700px;
    margin: 0 auto;
    height: 50px;
}

.__footer-content .__email-input {
    font-size: 1rem;
    height: 100%;
}

@media (max-width: 575.98px) {
    .__footer {
        background: rgb(0, 75, 181);
    }
    .__footer h3 {
        font-size: 2rem;
    }
    .__footer-content .input-group {
        width: 80%;
        min-width: 260px;
    }
    .__footer-content .input-group .__email-input-btn {
        background-color: #1274e4 !important;
        width: 80px !important;
    }
    .__footer-content .input-group input,
    .__footer-content .input-group .__email-input-btn {
        font-size: 1rem !important;
        padding: 5px 10px;
    }
}

.__footer-content .input-group .__email-input-btn {
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #044C9E;
    width: 180px;
    height: 100%;
}

.__footer-content .input-group .__email-input-btn:hover {
    background-color: #2a72c5;
}

.container-fluid.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a6ac5;
    height: 80px;
    padding: 0;
}

.container-fluid.copyright>h2 {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin: 0;
}


/* ==========================::::DETAILS::::========================== */


/* ================DETAILS::Title::================ */

.__details-title h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
}

.__details-title .__details-location {
    font-size: 1rem;
    text-decoration: underline;
}


/* ================DETAILS::Content::================ */

.__content .__content-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 40px 0;
}

.__content .__content-box-list {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 10px;
    margin-bottom: 25px;
    padding: 25px;
}

.__content .__content-box-list ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.__content .__content-box-list ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 500;
    list-style: none;
}

.__content .__content-box-list ul li span {
    font-size: 2rem;
    margin-right: 15px;
}


/* ==========Content::Ticket Window::========== */

.__details-content .__ticket-window {
    display: grid;
    grid-template-areas: 'price-info price-info ticket-type' 'ticket-btn ticket-btn ticket-btn';
    background-color: #fff;
    height: 240px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 10px;
    border-radius: 8px;
    position: sticky !important;
    top: 40px;
}

.__ticket-window .__ticket-price-info {
    display: flex;
    align-items: center;
    grid-area: price-info;
}

.__ticket-window .__ticket-price-info h3 {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    width: 98%;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    margin: 0;
}

.__ticket-window .__ticket-price-info h3 strong {
    color: #4084FF;
}

.__ticket-window .__ticket-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: ticket-type;
}

.__ticket-window .__ticket-type span {
    font-size: 3rem;
}

.__ticket-window .__ticket-type h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

.__ticket-window .__ticket-btn {
    display: flex;
    align-items: center;
    grid-area: ticket-btn;
}

.__ticket-window .__ticket-btn .__btn-ticket-window {
    color: #fff;
    text-transform: uppercase;
    background: #1CB249;
    border: 1px solid #1CB249;
    border-radius: 8px;
    width: 100%;
    padding: 15px;
    transition: .3s ease-out;
}

.__ticket-window .__ticket-btn .__btn-ticket-window:hover {
    background: #1cb24988;
}


/* ==========Content::Content Info::========== */

.__content .__content-info {
    height: 240px;
}

.__content .__content-info p {
    color: #707070;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.__included-items ul li span {
    color: #3C9800;
}

.__not-included-items ul li span {
    color: #DF2121;
}

.__important-info-items ul li span {
    color: #FF5757;
}


/* ==========Content::Content Schedule Box::========== */

.__content .__schedule-box h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    font-size: 1.4rem;
    margin: 0;
}

.__content .__schedule-box h3 b {
    margin-left: 7px;
}

.__content .__schedule-box h3 span {
    font-size: 2rem;
    margin-right: 15px;
}

@media (max-width: 767.98px) {
    .__content .__schedule-box h3 {
        font-size: 1rem;
    }
    .__content .__content-info p {
        font-size: 1rem;
    }
    .__content .__content-box-list ul li {
        font-size: 1rem;
    }
}


/* ==========Content::Modal::========== */

#modal_ticket h3 {
    align-self: flex-start;
    font-size: 1.2rem;
    margin-bottom: 25px;
}

#modal_ticket .__ticket-calendar-section .__ticket-calendar {
    width: 75%;
    height: 250px;
    border: 1px solid grey;
    border-radius: 8px;
}

#modal_ticket .__ticket-schedule-section form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    width: 100%;
}

#modal_ticket .__ticket-schedule-section .form-check {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 0;
}

#modal_ticket .__ticket-schedule-section .form-check label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 25px;
}

#modal_ticket .__ticket-schedule-section .form-check input {
    width: 20px;
    height: 20px;
    margin: auto 0;
}

#modal_ticket .__ticket-select-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.__ticket-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    border-top: 1px solid rgb(197, 197, 197);
    padding: 15px 0;
}

.__ticket-row .__ticket-info-box {
    display: flex;
    flex-direction: column;
}

.__ticket-row .__ticket-info-box h4 {
    font-size: 1rem;
}

.__ticket-row .__ticket-info-box .__ticket-price {
    font-size: 2.4rem !important;
    margin-bottom: 0 !important;
}

.__ticket-confirmation-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.__ticket-confirmation-screen .__ticket-row .__ticket-info-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.__ticket-confirmation-screen .__ticket-row .__ticket-info-box .__ticket-image {
    height: 60px;
    width: 60px;
    background-color: rgb(1, 74, 170);
    border-radius: 10px;
    margin-right: 25px;
}

.__ticket-confirmation-screen .__ticket-row .__ticket-info-box p {
    color: gray;
}

.__ticket-row .__ticket-amount-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.__ticket-row .__ticket-amount-box .__input-ticket-number {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    font-size: 2rem;
    height: 100%;
    width: 60px;
    border: none;
    background: none;
}

.__ticket-row .__ticket-amount-box .__btn-ticket-number {
    font-size: 2rem;
    height: 100%;
    width: 40px;
    border: none;
    background: none;
}

.__ticket-row .__ticket-amount-box .__btn-ticket-number:hover {
    color: blue;
}

.__ticket-row .__total-price {
    align-self: center !important;
    color: rgb(19, 105, 224);
    font-size: 2.4rem !important;
    margin-bottom: 0 !important;
}


/* ==========================::::ATTRACTIONS::::========================== */

.__attractions-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/curitiba-pr.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 350px;
}

.__attractions-hero::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 1;
}

.__attractions-hero h4 {
    color: white;
    font-size: 4rem;
    z-index: 2;
}