* {
    box-sizing: border-box !important;
    outline-offset: none !important;
    font-family: 'Roboto', 'sans-serif';
}

:root {
    --primary-light: #4589f0;
    --primary: #6464fd !important;
    --primary-dark: #044C9E;
    --light-black: #2b2b2b;
    --light-description: #707070;
    --light-gray: #f5f5f5;
    --light-b-radius: 4px;
    --medium-b-radius: 8px;
    --strong-b-radius: 10px;
}

input:focus,
input:active,
select:focus,
select:active,
button:focus,
button:active {
    outline: none !important;
    box-shadow: none !important;
}

html,
body {
    margin: 0;
}

body {
    background-color: var(--light-gray) !important;
    height: 100%;
}

.mb-8 {
    margin-bottom: 80px;
}

.mb-6 {
    margin-bottom: 60px;
}

a {
    cursor: pointer;
}


/* ================Utilities================ */

.px-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.mx-1 {
    margin-right: 10px !important;
    margin-left: 10px !important;
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.__text-side.reverse {
    display: flex;
    align-items: flex-end;
    text-align: right;
}

.hideMe {
    display: none;
}


/* ================::Fixed Cart::================ */

.__cart-ball {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.4rem;
    background: var(--primary);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 10;
}

.__cart-ball:hover {
    background: var(--primary-light);
}

.__cart-window {
    background: white;
    width: 0;
    height: 0;
    border-radius: var(--medium-b-radius);
    box-shadow: none;
    padding: 15px;
    overflow: hidden;
    position: fixed;
    top: 40px;
    right: 30px;
    z-index: 9;
    transition: .4s ease;
    opacity: 0;
}

.__cart-ball:hover+.__cart-window {
    animation-duration: .4s;
    animation-name: cartShow;
    width: 230px;
    height: 220px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 10px;
    opacity: 1;
}

.__cart-window:hover {
    width: 230px;
    height: 220px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 10px;
    opacity: 1;
}

.__cart-window .__cart-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.__cart-window .__cart-content h3 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    white-space: nowrap;
    margin: 5px 0;
}

.__cart-window .__cart-content .__cart-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.__cart-window .__cart-content .__cart-line h4 {
    font-size: 1rem;
    font-weight: 300;
    margin: 15px 0;
}

.__cart-window .__cart-content button,
.__cart-window .__cart-content a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 300;
    text-decoration: none;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: var(--light-b-radius);
    margin-top: 10px;
    cursor: pointer;
}


/* .__cart-window .__cart-content button.__cart-btn-outline {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: none;
}

.__cart-window .__cart-content button.__cart-btn-outline:hover {
    border: 1px solid var(--light-black);
} */

.__cart-window .__cart-content a.__cart-btn {
    color: white;
    background: var(--primary);
}

.__cart-window .__cart-content a.__cart-btn:hover {
    background: var(--primary-dark);
}


/* ================::Fixed Cart::Animation Code================ */


/* .__cart-animate-show {
    animation-duration: .6s;
    animation-name: cartShow;
} */

@keyframes cartShow {
    from {
        width: 0;
        height: 0;
        border-radius: 120px;
        border-top-right-radius: 8px;
    }
    to {
        width: 230px;
        height: 220px;
        border-radius: var(--medium-b-radius);
    }
}


/* ================::Header::================ */

.__header {
    transition: .3s;
    position: relative;
    z-index: 3;
}


/* header .navbar {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0 5px 10px;
} */

.__header-container {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    align-items: center !important;
    justify-content: center !important;
    height: auto;
    padding: 30px 0 0 0;
}

.__header-container .navbar-brand {
    display: flex;
    align-items: center;
    height: 50px;
    width: 120px;
}

.__header-container .navbar-brand img {
    width: 100%;
}

@media (max-width: 575.98px) {
    .__header-container {
        justify-content: space-between !important;
        height: auto;
    }
    .__header-container .form-inline {
        width: 100% !important;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .__header-container {
        justify-content: center !important;
        height: auto;
        max-width: 640px !important;
    }
    .__header-container .form-inline {
        width: auto !important;
        max-width: 210px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .__header-container {
        justify-content: space-between !important;
    }
    .__header-container .form-inline {
        width: 85% !important;
        margin-right: 0 !important;
    }
}

@media (max-width: 991.98px) {
    .__hero-content .__booking-box {
        position: relative;
    }
    .navbar-collapse .navbar-nav {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }
}

.__header-container .form-inline {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap;
    justify-content: center !important;
    border: 1px solid transparent;
    border-radius: var(--light-b-radius);
    width: 65%;
    height: 50px;
    margin-right: 15px;
    transition: .4s;
}

.__header-container .form-inline:hover {
    border: 1px solid var(--primary);
}

.__header-container .form-inline input {
    background: var(--light-gray);
    border: none;
    width: 95%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: var(--light-b-radius);
    border-bottom-left-radius: var(--light-b-radius);
}

.__header-container .form-inline span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    background: var(--light-gray);
    width: 40px;
    height: 48px;
    border-top-right-radius: var(--light-b-radius);
    border-bottom-right-radius: var(--light-b-radius);
}

.__header-container .__header-login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    font-weight: 500;
    text-transform: uppercase;
    background: white;
    height: 50px;
    border: none;
    border-radius: var(--light-b-radius);
    margin-right: 10px;
    padding: 0 10px;
    /* transition: .4s ease-in; */
}

.__header-container .__header-login-btn:hover {
    background: rgb(219, 228, 255);
}

.__header-container .__header-login-btn span {
    font-size: 1.6rem;
    margin-right: 5px;
}

.__header-container .navbar-collapse {
    width: 100%;
}

.__header-container .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 30px auto 0;
}

.__header-container .navbar-nav .__navbar-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--light-black);
    text-decoration: none !important;
    font-size: 1rem;
    font-weight: 400;
    background: rgba(255, 255, 255, 0.6);
    width: 120px;
    border: 1px solid transparent;
    border-radius: var(--light-b-radius);
    margin-right: 15px;
    padding: 5px;
    transition: .2s ease-out;
}

.__header-container .navbar-nav .__navbar-link:hover {
    background: white;
}

.__header-container .navbar-nav .__navbar-link span {
    font-size: 2rem;
    transition: .2s ease-out;
}

.__header-container .navbar-nav .__navbar-link:hover {
    color: var(--primary-dark) !important;
}


/* .__header-container .navbar-nav .__navbar-link::after {
    content: "";
    background: var(--primary);
    width: 0;
    height: 4px;
    transition: .2s;
}

.__header-container .navbar-nav .__navbar-link:hover::after {
    width: 80%;
} */

@media (max-width: 500px) {
    .navbar-collapse .navbar-nav {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }
    .__header-container .navbar-nav .__navbar-link {
        flex-direction: row !important;
        justify-content: start !important;
        width: 180px !important;
    }
    .__header-container .navbar-nav .__navbar-link span {
        margin-right: 15px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .__header-container .navbar-nav .__navbar-link {
        font-size: .8rem;
        width: 120px;
        margin-right: 10px;
    }
}


/* ================::Hero Parallax::================ */

.__hero-parallax {
    background-image: url('../images/skyline.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0 -15px;
    position: relative;
}

.__hero-parallax::before {
    content: "";
    background: rgba(72, 61, 139, 0.8);
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: .4s ease-in-out;
}

.__hero-parallax .__hero-content {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    height: auto;
    margin: 0 auto;
    padding: 0 15px 180px;
    position: relative;
    z-index: 3;
}

.__hero-parallax .__hero-content .__hero-text {
    align-self: flex-start;
    width: 60%;
    margin-top: 50px;
}

.__hero-content .__hero-text h2 {
    color: white;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 3.2rem;
    font-weight: 400;
}

.__hero-content .__hero-text h2 span {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
}

.__hero-content .__hero-text p {
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
}

@media (max-width: 991.98px) {
    .__hero-parallax .__hero-content {
        height: auto !important;
    }
    /* .__hero-parallax .__hero-content {
        padding: 25px 15px !important;
    } */
    .__hero-parallax .__hero-content .__hero-text {
        width: 100%;
        margin: 35px 0;
    }
    .__hero-content .__hero-text h2 {
        font-size: 2rem;
        font-weight: 400;
    }
    .__hero-content .__hero-text p {
        font-size: 1rem;
    }
}


/* ================::Side Menu::================ */


/* .__side-menu-wrapper {
    background-color: #fff;
    width: 250px;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.3) 5px 0 15px;
    position: fixed !important;
    right: 0 !important;
    top: 0 !important;
    transform: translateX(300px);
    z-index: 15;
}

.__side-menu-show {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    border-radius: var(--light-b-radius);
}

.__side-menu-show span {
    color: white;
    font-size: 2rem;
}

.__side-menu-hide {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
}

.__side-menu-hide span {
    color: var(--light-black);
    font-size: 2rem;
}

.__show-menu {
    transform: translateX(0);
    animation-name: showMenu;
    animation-duration: .4s;
    transition: .4s;
}

@keyframes showMenu {
    from {
        transform: translateX(300px);
    }
    to {
        transform: translateX(0);
    }
} */


/* ================::Booking box::================ */

.__booking-container {
    height: auto;
    margin-top: -14rem;
    position: relative;
    z-index: 4;
}

@media (max-width: 991.98px) {
    .__booking-container {
        margin-top: -16rem;
    }
}

.__booking-box {
    height: auto;
    border-radius: var(--light-b-radius);
    box-shadow: rgba(0, 0, 0, 0.1) 0 5px 10px;
    overflow: hidden;
}


/* Booking Tabs::=============== */

.__booking-tabs {
    width: 100%;
    height: auto;
}

.__booking-tabs ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background-color: none;
    height: auto;
    padding: 0;
    margin-bottom: 15px;
}

.__booking-tabs ul .__booking-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    background: #231C50;
    height: 45px;
    border-radius: 50px;
    margin-right: 15px;
    padding: 0 30px;
    cursor: pointer;
    position: relative;
    transition: .4s;
}

.__booking-tabs ul li.__booking-tab span {
    font-size: 1.4rem;
    margin-right: 5px;
}

.__booking-tabs ul li.__booking-tab:hover {
    color: var(--light-black);
    background: white;
}

.__booking-tab.__active {
    color: var(--light-black) !important;
    background: white !important;
}

.__booking-tab.__active::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgb(255, 255, 255);
    position: absolute;
    bottom: -10px;
    transition: .4s;
    animation-name: tab-indicator;
    animation-duration: .2s;
}

@keyframes tab-indicator {
    from {
        border-top: 15px solid transparent;
        bottom: 0;
    }
    to {
        border-top: 15px solid rgb(255, 255, 255);
        bottom: -10px;
    }
}

.__booking-tab.__active:hover {
    background: white !important;
}

@media (max-width: 991.98px) {
    .__booking-tabs {
        overflow: scroll;
    }
}


/* Booking Forms::=============== */

.__booking-box .__booking-box-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 100%;
    height: 120px;
    z-index: 4;
}

.__booking-box .__booking-box-form .form-group {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 20%;
    border-right: 1px solid grey;
    padding: 0 25px;
}

.__booking-box-form .form-group:nth-child(4) {
    border-right: none;
}

.__booking-box .__booking-box-form .form-group label {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}

.__booking-box-form .form-group input,
.__booking-box-form .form-group select {
    background: var(--light-gray);
    border: 1px solid transparent;
    padding: 6px 6px;
    transition: .2s;
}

.__booking-box-form .form-group input:hover,
.__booking-box-form .form-group select:hover {
    border: 1px solid var(--primary-dark);
}

.__booking-box-form .form-group input:focus,
.__booking-box-form .form-group select:focus {
    border: 1px solid var(--primary-dark);
    padding: 6px 12px;
}

.__booking-box .__booking-box-form .__booking-search-btn {
    background: var(--primary);
    border: none;
    width: 280px;
    height: 100%;
    padding: 0;
    transition: .4s ease-in-out;
    position: relative;
}

.__booking-box .__booking-box-form .__booking-search-btn::before {
    content: "";
    width: 100%;
    height: 0;
    background: rgb(216, 216, 248);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: .4s ease-in-out;
}

.__booking-box .__booking-box-form .__booking-search-btn:hover::before {
    content: "";
    height: 100%;
}

.__booking-box .__booking-box-form .__booking-search-btn:hover {
    background: rgb(216, 216, 248);
}

.__booking-search-btn span {
    color: white;
    font-size: 4rem;
    transition: .4s ease-in-out;
    position: relative;
    z-index: 3;
}

.__booking-box .__booking-box-form .__booking-search-btn:hover span {
    color: var(--primary);
}

@media (max-width: 575.98px) {
    .__booking-box {
        margin: 10px 0;
        height: auto;
    }
    .__booking-box .__booking-box-form {
        flex-direction: column;
        height: auto;
    }
    .__booking-box .__booking-box-form .form-group,
    .__booking-box .__booking-box-form .__booking-search-btn {
        align-items: flex-start;
        justify-content: center;
        height: 80px !important;
    }
    .__booking-box .__booking-box-form .form-group {
        width: 100% !important;
        border: none !important;
    }
    .__booking-box .__booking-box-form .form-group label {
        font-size: 1rem;
    }
    .__booking-box-form .form-group input,
    .__booking-box-form .form-group select {
        height: 35px !important;
    }
    .__booking-box .__booking-box-form .__booking-search-btn {
        width: 100% !important;
        height: 80px !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
    }
    .__booking-box .__booking-box-form .__booking-search-btn span {
        font-size: 3rem !important;
    }
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .__booking-box {
        height: auto;
    }
    .__booking-box .__booking-box-form {
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
    }
    .__booking-box .__booking-box-form .form-group,
    .__booking-box .__booking-box-form .__booking-search-btn {
        align-items: flex-start;
        justify-content: center;
        height: 100px;
    }
    .__booking-box .__booking-box-form .form-group {
        width: 50%;
        border: none;
    }
    .__booking-box .__booking-box-form .form-group label {
        font-size: 1rem;
    }
    .__booking-box-form .form-group input,
    .__booking-box-form .form-group select {
        height: 35px;
    }
    .__booking-box .__booking-box-form .__booking-search-btn {
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
    }
    .__booking-tabs ul li.__booking-tab {
        height: 48px;
    }
}


/* Filter cards */

.__filter-cards-title {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--light-black);
}

.__filter-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
}

.__filter-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none !important;
    font-size: .9rem;
    font-weight: 400;
    background: var(--primary-dark);
    width: 110px;
    height: 110px;
    /* border: 1px solid var(--primary-dark); */
    border-radius: var(--light-b-radius);
    margin: 0 10px 10px 0;
    padding: 5px;
    transition: .2s ease-out;
}

.__filter-card:hover {
    background: white;
}

.__filter-card span {
    font-size: 2rem;
    transition: .2s ease-out;
}

.__filter-card:hover {
    color: var(--primary-dark) !important;
}


/* ================::Destination Container::================ */

.__destination-title {
    margin-bottom: 20px;
}

.__destination-title h2 {
    color: var(--light-black);
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.__destination-title p {
    color: gray;
    font-size: 1rem;
    margin: 0;
}

@media (max-width: 575.98px) {
    .__destination-title h2 {
        font-size: 1.6rem;
    }
    .__destination-title p {
        font-size: .9rem;
    }
}

.__destination-gallery {
    display: grid;
    grid-template-areas: 'dest-1 dest-2 dest-3 dest-3' 'dest-1 dest-2 dest-4 dest-4';
    grid-gap: 5px;
    height: 350px;
    border-radius: var(--light-b-radius);
    overflow: hidden;
}

@media (max-width: 767.98px) {
    .__destination-gallery {
        height: 500px;
        grid-template-areas: 'dest-1 dest-1' 'dest-2 dest-2' 'dest-3 dest-3' 'dest-4 dest-4';
    }
}


/* Card structure*/

.__destination-gallery .__dest-1 {
    grid-area: dest-1;
}

.__destination-gallery .__dest-2 {
    grid-area: dest-2;
}

.__destination-gallery .__dest-3 {
    grid-area: dest-3;
}

.__destination-gallery .__dest-4 {
    grid-area: dest-4;
}

.__destination-gallery .__destination-card {
    height: 100%;
    overflow: hidden;
    position: relative;
}


/* Description box */

.__destination-card a .__destination-card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    background-color: rgba(255, 255, 255, 0.7);
    height: 40px;
    padding: 10px 20px;
    z-index: 6;
    transition: .4s;
}

.__destination-card a:hover>.__destination-card-info {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
}

.__destination-card.__dest-1 a .__destination-card-info,
.__destination-card.__dest-2 a .__destination-card-info {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.__destination-card.__dest-1 a:hover>.__destination-card-info,
.__destination-card.__dest-2 a:hover>.__destination-card-info {
    height: 160px;
}

.__destination-card.__dest-3 a .__destination-card-info,
.__destination-card.__dest-4 a .__destination-card-info {
    width: 250px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.__destination-card.__dest-3 a:hover>.__destination-card-info,
.__destination-card.__dest-4 a:hover>.__destination-card-info {
    height: 100%;
}

.__destination-card a .__destination-card-info h3 {
    color: var(--light-black);
    font-size: 1rem;
    font-weight: bold;
}

.__destination-card a .__destination-card-info p {
    color: var(--light-description) !important;
    font-size: .9rem;
    line-height: 1rem;
    font-weight: normal;
    opacity: 0;
    transition: .4s;
}

.__destination-card a:hover>.__destination-card-info p {
    opacity: 1;
}

@media (max-width: 767.98px) {
    .__destination-card a .__destination-card-info p {
        font-size: .8rem !important;
    }
    .__destination-card a .__destination-card-info {
        width: 100% !important;
    }
    .__destination-card a:hover>.__destination-card-info {
        height: 100% !important;
        padding: 10px !important;
    }
}

@media (max-width: 374.98px) {
    .__destination-card a .__destination-card-info h3 {
        font-size: .8rem !important;
    }
    .__destination-card a .__destination-card-info p {
        font-size: .7rem !important;
    }
}


/* Pseudo-elements structure */

.__destination-gallery .__destination-card a::after {
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .4s;
}

.__destination-gallery .__destination-card a:hover::after {
    content: "";
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
}


/* Background images */

.__destination-gallery .__destination-card a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    transition: .4s;
}

.__destination-gallery .__destination-card a:hover>img {
    transform: scale(1.08);
}


/* ================::Cards Container::================ */

.__cards-container {
    height: 400px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: var(--light-b-radius);
    padding: 35px 0;
    transition: .4s;
}

.__cards-container:hover {
    border: 1px solid var(--primary) !important;
}

.__cards-container-details {
    height: auto;
}

@media (max-width: 991.98px) {
    .__cards-container {
        margin: 40px;
        height: auto;
    }
    .__cards-side {
        height: 330px !important;
    }
}

.__cards-container .row {
    height: 100%;
}


/* ================::Cards Container::Text Side================ */

.__text-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: top;
    font-family: 'Roboto', 'sans-serif';
    height: 100%;
}

.__text-side h3 {
    color: var(--light-black);
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
}


/* .__text-side small {
    color: gray;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 30px;
} */

.__text-side p {
    color: var(--light-description);
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.2rem;
    width: 100%;
}

@media (max-width: 1199.98px) {
    /* .row-reverse {
        display: flex;
        flex-direction: column !important;
    } */
    .reverse {
        display: flex;
        align-items: flex-start !important;
        text-align: left !important;
    }
}


/* ================::Cards Container::Cards side================ */

.__cards-side {
    font-family: 'Roboto', 'sans-serif';
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    height: 100%;
    position: relative;
}

.__cards-side .owl-stage-outer {
    margin: 0 -15px;
}

@media (max-width: 575.98px) {
    .__cards-side {
        padding: 0 !important;
    }
    .__cards-side .owl-stage-outer {
        margin: 0;
    }
}

.__cards-side-details {
    height: 330px;
}

.__cards-side .owl-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 0 !important;
    width: 105%;
    position: absolute;
    top: 50%;
    left: -2.5%;
}

.__cards-side .owl-nav .owl-next,
.__cards-side .owl-nav .owl-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--primary-light);
    font-size: 1.2rem;
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 0 5px 15px;
    transition: .3s;
}

.__cards-side .owl-nav .owl-next:hover,
.__cards-side .owl-nav .owl-prev:hover {
    color: var(--light-black);
    background-color: white;
    border: 1px solid var(--primary-light);
}

.__cards-side .owl-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100% !important;
}

.__normal {
    width: auto;
    max-width: 300px !important;
    height: 360px !important;
    margin: 0 10px 30px !important;
    border: 1px solid transparent;
    transition: .3s ease-in-out;
    /* cursor: pointer; */
}

.__normal:hover {
    border: 1px solid var(--primary);
    /* box-shadow: rgba(0, 0, 0, 0.25) 0 5px 25px !important;
    transform: translateY(-10px); */
}

.__normal .__card-body .__card-body-bottom .__card-btn {
    width: 180px !important;
    padding: 10px 0 !important;
}

.__cards-side .__card {
    width: 100%;
    min-width: 180px;
    max-width: 280px;
    height: 300px;
    background-color: white;
    border-radius: var(--light-b-radius);
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 10px;
    position: relative;
}

.__card .__card-img-top {
    border-top-right-radius: var(--light-b-radius);
    border-top-left-radius: var(--light-b-radius);
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.__card .__card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    width: 100%;
    height: 50%;
    border-bottom-left-radius: var(--light-b-radius);
    border-bottom-right-radius: var(--light-b-radius);
    padding: 10px;
    margin-top: auto;
    position: absolute;
    bottom: 0;
}

.__card .__card-body .__card-title small {
    color: gray;
}

.__card .__card-body h5 {
    font-size: 1rem !important;
    font-weight: 500;
}

.__card .__card-body .__card-body-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.__card .__card-body .__card-body-bottom h3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
    font-weight: bold;
    margin: auto 0;
}

@media (max-width: 991.98px) {
    .__card .__card-body .__card-body-bottom h3 {
        font-size: .9rem;
    }
}

.__card .__card-body .__card-body-bottom .__card-btn {
    color: white;
    font-size: .9rem !important;
    text-align: center;
    text-decoration: none;
    background-color: var(--primary);
    border: 1px solid transparent;
    border-radius: var(--light-b-radius);
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 5px;
    width: 110px;
    padding: 8px 0;
}

.__card .__card-body .__card-body-bottom .__card-btn:hover {
    background-color: var(--primary-light);
}

.owl-stage-outer,
.owl-stage {
    height: 100%;
}


/* ================::promo Container::================ */

.__promo-gallery {
    display: grid;
    grid-template-areas: 'promo-1 promo-2 promo-2';
    grid-gap: 5px;
    height: 350px;
    border-radius: var(--light-b-radius);
    overflow: hidden;
}

.__promo-gallery .__promo-card {
    height: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.__promo-gallery .__promo-card::after {
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .4s;
}

.__promo-gallery .__promo-card:hover::after {
    content: "Ver mais";
    background: rgba(0, 17, 114, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
}

.__promo-gallery .__promo-card img {
    width: 100%;
    height: 100%;
    object-position: right;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    transition: .4s;
}

.__promo-gallery .__promo-card:hover>img {
    transform: scale(1.08);
}

.__promo-gallery .__promo-1 {
    grid-area: promo-1;
}

.__promo-gallery .__promo-2 {
    grid-area: promo-2;
}

@media (max-width: 767.98px) {
    .__promo-gallery {
        grid-template-areas: 'promo-1 promo-1' 'promo-2 promo-2';
    }
}


/* ================::All Attractions Container::================ */

.__all-attractions .__attractions-title {
    margin: 0 0 20px;
}

.__all-attractions .__attractions-title h2 {
    color: var(--light-black);
    font-size: 2rem;
    font-weight: bold;
}

.__all-attractions .owl-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    z-index: 0;
    position: absolute;
    bottom: -30px;
}

.__all-attractions .owl-nav .owl-next,
.__all-attractions .owl-nav .owl-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--primary-dark);
    font-size: 1.6rem;
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
    border-radius: var(--light-b-radius);
    margin: 0 5px;
    transition: .3s;
}

.__all-attractions .owl-nav .owl-next:hover,
.__all-attractions .owl-nav .owl-prev:hover {
    color: var(--primary-dark);
    background-color: white;
    border: 1px solid var(--primary-dark);
}

.__all-attractions .__attractions-card {
    border-radius: var(--light-b-radius);
    height: 255px;
    width: 255px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 10px;
    margin: 25px auto;
    overflow: hidden;
}

.__all-attractions .__attractions-card a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    position: relative;
}

.__all-attractions .__attractions-card a::after {
    content: "";
    background-color: rgba(48, 48, 48, 0.43);
    width: 100%;
    height: 100%;
    border-radius: var(--light-b-radius);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;
    transition: .4s;
}

.__all-attractions .__attractions-card a:hover::after {
    background-color: rgba(48, 48, 48, 0.1);
}

.__all-attractions .__attractions-card a:hover>img {
    transform: scale(1.1);
}

.__all-attractions .__attractions-card img {
    width: 100%;
    height: 100%;
    border-radius: var(--light-b-radius);
    object-fit: cover;
    position: absolute;
    z-index: 2;
    transition: .4s;
}

.__all-attractions .__attractions-card span {
    font-size: 3rem;
}

.__all-attractions .__attractions-card span,
.__all-attractions .__attractions-card h3 {
    color: white;
    z-index: 4;
}


/* ================::Benefits Container::================ */

.__benefits {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0 -5px 15px;
    padding: 60px 0;
}

.__benefits .__benefits-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
}

.__benefits .__benefits-card span,
.__benefits .__benefits-card h3 {
    color: var(--primary-dark);
    z-index: 4;
}

.__benefits .__benefits-card span {
    font-size: 5rem;
}

.__benefits .__benefits-card h3 {
    color: var(--light-black);
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}

.__benefits .__benefits-card p {
    color: var(--gray);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}


/* ================::Footer::================ */

.__footer {
    background: var(--primary);
}

.__footer hr {
    background-color: #ffffffa9;
    width: 75%;
    height: 1px;
}

.__footer .__footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px 0;
}

.__footer-content h3 {
    color: white;
    font-size: 2rem;
    margin: 0;
}

.__footer-content .__footer-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
}

.__footer-content .__footer-icons img {
    width: 80%;
}

.__footer-content .input-group {
    width: 70%;
    min-width: 300px;
    max-width: 700px;
    margin: 0 auto;
    height: 50px;
}

.__footer-content .__email-input {
    font-size: 1rem;
    height: 100%;
}

@media (max-width: 575.98px) {
    .__footer h3 {
        font-size: 2rem;
    }
    .__footer-content .input-group {
        width: 80%;
        min-width: 260px;
    }
    .__footer-content .input-group .__email-input-btn {
        width: 80px !important;
    }
    .__footer-content .input-group input,
    .__footer-content .input-group .__email-input-btn {
        font-size: 1rem !important;
        padding: 5px 10px;
    }
}

.__footer-content .input-group .__email-input-btn {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--primary-dark);
    width: 180px;
    height: 100%;
}

.__footer-content .input-group .__email-input-btn:hover {
    background-color: var(--primary-light);
}

.container-fluid.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-dark);
    height: 80px;
    padding: 0;
}

.container-fluid.copyright>h2 {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin: 0;
}


/* ==========================::::DETAILS::::========================== */


/* ================DETAILS::Title::================ */

.__details-title h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
}

.__details-title .__details-location {
    font-size: 1rem;
    text-decoration: underline;
}


/* ================DETAILS::Content::================ */

.__content .__content-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 40px 0;
}

.__content .__content-box-list {
    background-color: white;
    border-radius: var(--light-b-radius);
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 10px;
    margin-bottom: 0;
    padding: 25px;
}

.__content .__content-box-list ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.__content .__content-box-list ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 500;
    list-style: none;
}

.__content .__content-box-list ul li span {
    font-size: 2rem;
    margin-right: 15px;
}


/* ==========Content::Ticket Window::========== */

.__details-content .__ticket-window {
    display: grid;
    grid-template-areas: 'price-info price-info ticket-type' 'ticket-btn ticket-btn ticket-btn';
    background-color: white;
    height: 240px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 10px;
    border-radius: var(--light-b-radius);
    position: sticky !important;
    top: 40px;
}

.__ticket-window .__ticket-price-info {
    display: flex;
    align-items: center;
    grid-area: price-info;
}

.__ticket-window .__ticket-price-info h3 {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    width: 98%;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    margin: 0;
}

.__ticket-window .__ticket-price-info h3 strong {
    color: var(--primary);
}

.__ticket-window .__ticket-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: ticket-type;
}

.__ticket-window .__ticket-type span {
    font-size: 3rem;
}

.__ticket-window .__ticket-type h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

.__ticket-window .__ticket-btn {
    display: flex;
    align-items: center;
    grid-area: ticket-btn;
}

.__ticket-window .__ticket-btn .__btn-ticket-window {
    color: white;
    text-transform: uppercase;
    background: #1CB249;
    border: none;
    border-radius: var(--light-b-radius);
    width: 100%;
    padding: 15px;
    transition: .2s ease-out;
}

.__ticket-window .__ticket-btn .__btn-ticket-window:hover {
    color: var(--light-black);
    background: #1cb24988;
}


/* ==========Content::Content Info::========== */

.__content .__content-info {
    height: 240px;
}

.__content .__content-info p {
    color: var(--light-description);
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.__included-items ul li span {
    color: #3C9800;
}

.__not-included-items ul li span {
    color: #DF2121;
}

.__important-info-items ul li span {
    color: #FF5757;
}


/* ==========Content::Content Schedule Box::========== */

.__content .__schedule-box h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    font-size: 1.4rem;
    margin: 0;
}

.__content .__schedule-box h3 b {
    margin-left: 7px;
}

.__content .__schedule-box h3 span {
    font-size: 2rem;
    margin-right: 15px;
}

@media (max-width: 767.98px) {
    .__content .__schedule-box h3 {
        font-size: 1rem;
    }
    .__content .__content-info p {
        font-size: 1rem;
    }
    .__content .__content-box-list ul li {
        font-size: 1rem;
    }
}


/* ==========Content::Modal::========== */

#modal_ticket h3 {
    align-self: flex-start;
    font-size: 1.2rem;
    margin-bottom: 25px;
}

#modal_ticket .modal-body {
    padding: 40px 20px;
}

#modal_ticket .__ticket-calendar-section .__ticket-calendar {
    border: 1px solid grey;
    border-radius: var(--light-b-radius);
    height: 250px;
}

#modal_ticket .__ticket-schedule-section form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    width: 100%;
}

.__btn-modal-confirm {
    color: white;
    font-size: 1rem;
    background-color: var(--primary);
    border: none;
    border-radius: var(--light-b-radius);
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 10px;
    padding: 10px 0;
    transition: .2s ease-out;
}

.__btn-modal-confirm:hover {
    background-color: var(--primary-dark);
}

.__btn-modal-confirm span {
    transition: .2s ease-out;
}

.__btn-modal-confirm:hover>span {
    margin-left: 5px;
}

.__ticket-schedule-section form .form-check {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 0;
}

.__ticket-schedule-section form .form-check label {
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 25px;
}

.__ticket-schedule-section form .form-check input {
    width: 20px;
    height: 20px;
    margin: auto 0;
}

.__ticket-select-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.__ticket-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    border-top: 1px solid lightgray;
    padding: 15px 0;
}

.__ticket-row .__ticket-info-box {
    display: flex;
    flex-direction: column;
}

.__ticket-row .__ticket-info-box h4 {
    font-size: 1rem;
}

.__ticket-row .__ticket-info-box .__ticket-price {
    font-size: 2.4rem !important;
    margin-bottom: 0 !important;
}

.__ticket-confirmation-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.__ticket-confirmation-screen .__ticket-row .__ticket-info-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.__ticket-confirmation-screen .__ticket-row .__ticket-info-box .__ticket-image {
    height: 60px;
    width: 60px;
    background-color: var(--primary-light);
    border-radius: var(--light-b-radius);
    margin-right: 25px;
}

.__ticket-confirmation-screen .__ticket-row .__ticket-info-box p {
    color: gray;
}

.__ticket-row .__ticket-amount-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.__ticket-row .__ticket-amount-box input.__input-ticket-number {
    font-size: 2rem;
    text-align: center !important;
    height: 100%;
    width: 60px;
    border: none;
    background: none;
}

.__ticket-row .__ticket-amount-box .__btn-ticket-number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: var(--light-b-radius);
    background: none;
    transition: .2s;
}

.__ticket-row .__ticket-amount-box .__btn-ticket-number:active {
    background: rgba(6, 109, 150, 0.3) !important;
}

.__ticket-row .__ticket-amount-box .__btn-ticket-number:hover {
    background: rgba(128, 128, 128, 0.144);
}

.__ticket-row .__total-price {
    align-self: center !important;
    color: var(--primary);
    font-size: 2.4rem !important;
    margin-bottom: 0 !important;
}


/* ==========================::::ATTRACTIONS::::========================== */

.__attractions-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/curitiba-pr.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 350px;
}

.__attractions-hero::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 1;
}

.__attractions-hero h4 {
    color: white;
    font-size: 4rem;
    z-index: 2;
}

.__side-filter {
    background: white;
    width: 100%;
    height: 100%;
    border-radius: var(--light-b-radius);
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px;
    padding: 25px;
}

.__side-filter h2 {
    font-weight: bold;
    padding-left: 20px;
}

.__side-filter .__filter-group {
    margin: 20px;
}

.__side-filter .__filter-group h3 {
    font-size: 1.4rem;
}

.__filter-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--light-black);
    text-decoration: none !important;
    border-bottom: 1px solid rgba(214, 214, 214, 0.3);
    border-radius: var(--light-b-radius);
    width: 100%;
    padding: 5px;
    transition: .2s;
}

.__filter-item:hover {
    background: rgba(218, 218, 218, 0.3);
}

.__filter-item input {
    background-color: rgba(255, 0, 0, 0) !important;
    width: 18px;
    height: 18px;
}

.__cards-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto !important;
    max-height: unset !important;
}